

body{
background-image:url("sunset.jpg");
background-size:106%;
}
p{
text-align:center;
font-size:500%;
color:black;
}

.pic{
display:flex;

height:auto;
max-width:100%;

}
img{
border-radius:50%;
width:50%;

}
